@import "tailwindcss";

html, body {
    overflow-x: hidden;
    background-color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: rgb(2 6 23);
  }
}